@charset "utf-8";

* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  margin-left: 15rem;
  padding: 15px 30px;
}

body {
  background-image: url("../assets/imgs/bodyWallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a0d09;
  height: 90vh;
  width: 100%;
}

/* Navbar */
nav {
  height: 100%;
  width: 15rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e5e1ee;
  overflow-x: hidden;
  background-image: url("../assets/imgs/navbarbg.jpg");
  background-size: cover;
  background-position: center;
}

nav > .links-container {
  margin: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
  display: block;
}

nav a:hover {
  color: #ff653e;
  text-shadow: 0 0 2px rgba(255, 101, 62, 0.15);
  text-decoration: underline;
}

nav > .MF-logo-container {
  background-color: black;
  width: 30%;
  height: 70px;
  border-bottom-right-radius: 30px;
}

nav > .MF-logo-container a {
  margin: 0;
}

nav > .MF-logo-container a img {
  transition: transform 0.2s, fill 0.2s;
  width: 68px;
  height: 68px;
}

nav > .MF-logo-container a img:hover {
  transform: rotate(-90deg);
}

main {
  margin-left: 15rem;
}

body main a {
  color: #ffcc00;
}
