* {
  color: black;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #262b37;
  height: 90vh;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 25rem;
  height: 25rem;
  animation: upDown 2s ease-in-out infinite alternate;
}

@keyframes upDown {
  0% {
    transform: translateY(-40px) scale(1.1);;
  }

  100% {
    transform: translateY(0px);
  }
}

.main-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px 30px;
}

.main-titles>h1 {
  color: black;
  font-size: 8rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, .15);
  font-style: italic;
  font-weight: 800;
  background-color: #ffcc00;
  padding-right: 20px;
  padding-left: 20px;
  margin: 80px auto;
  transition: transform .1s;
  cursor: pointer;
}

.main-titles>h1:hover {
  transform: scale(1.05) rotate(1deg);
}

.main-titles h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
}

/*Section articles*/

.presentation h2,
.presentation p {
  color: white;
}

.presentation {
  display: flex;
  flex-direction: column;
}

.presentation article {
  margin: 2rem auto;
  width: 100%;
  background-color: rgba(23, 15, 0, 0.5);
  backdrop-filter: blur(4px);
  border: solid 4px #ffcc00;
  box-shadow: 0 0 20px rgba(255, 204, 0, .10);
  box-sizing: border-box;
}

.presentation article > h2 {
  margin: 0;
  padding: 10px;
  font-weight: 600;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 3px solid rgb(255, 123, 90);
  background-color: rgba(207, 41, 0, .5);
  text-wrap: nowrap;
}

.presentation article > p {
  padding: 5px 20px;
}

/* News */

/* .news article {
  margin-top: 10rem;
  border: 4px solid #ffcc00;
  border-radius: 1rem;
  padding: 1rem;
}

.news h2,
.news p {
  color: white;
} */

.news {
  margin: 150px auto;
}

.news a {
  color: black;
}

.news article {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto 1fr;
  column-gap: 15px;
  row-gap: 15px;
  margin: 150px auto;
}

.news article > h2 {
  grid-column: 1 / 5;
  background-color: rgba(207, 41, 0, .5);
  color: white;
  border: 1px solid #ff7b5a;
  font-family: 'Cramps', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px 18px;
  margin: 0;
  margin-left: 50px;
}

.news article > .element-invisible {
  grid-column: 5 / 9;

}

.news article > p {
  grid-column: 1 / 6;
  background-color: #ffcc00;
  padding: 18px;
  height: min-content;
  margin: 0;
}

.news article:nth-child(2) > p {
  grid-column: 1 / 9;
}

.news article > img,
.news article > iframe {
  grid-column: 6 / 9;
  background-color: rgba(229, 225, 238, .9);
  padding: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.news h2,
.news p {
  color: black;
}
